In [48]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [49]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

li = ["abc", 34, 4.34, 23]

In [50]:
st = "Hello World"

In [51]:
print(st)

Hello World

In [52]:
st = 'Hello World'

In [53]:
print(st)

Hello World

In [54]:
st = """This is a multi-line
string that uses triple quotes."""

In [55]:
print(st)

This is a multi-line
string that uses triple quotes.

In [56]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [57]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [58]:
st = "Hello World"
st[1]

'e'

In [59]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]
t[1:-1]
t[1:-1:2]

('abc', (2, 3))

In [60]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]
t[2:]
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [61]:
t = [1, 2, 4, 5]
3 in t
4 in t
4 not in t

False

In [62]:
a = 'abcde'
'c' in a
'cd' in a
'ac' in a

False

In [63]:
(1, 2, 3) + (4, 5, 6)
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [64]:
"Hello" + " " + "World"

'Hello World'